<h1>Edit the Task</h1>
<%= render 'form', task: @task %>
<!-- Rails ting.The checkboxes will be ticked if the attribute is true, and vice versa the checked state when you submit the form will affect the attribute.  -->